
@{
    ViewBag.Title = "jianjie";
    Layout = "~/Views/Shared/_main.cshtml";
}

<style>
    h2 {
        color: #7ffb62;
    }

    .panel-primary > .panel-heading {
        background-color: #808080;
    }
</style>
<div class="container" style="width:1050px;">
    <div class="row">
        <h2 class="text-center">关于我们</h2>
        <hr style="color:green" />
    </div>
    <div class="row">
        <div class="col-md-3">
            <br /><br /><br /><br />
            <h5><strong>我们的目标：</strong>当代人们生活越来越注重饮食健康，饮品也是饮食健康中常见也普遍被人们关注，饮品科普信息管理系统提供了大量饮品信息和有关饮品话题的信息，为人们提供了最新、最有益的饮品健康信息，给使用者给予最快、最有效的饮品信息保证，进一步提高人们的生活水平，向着健康、绿色的生活前进。</h5>
            <br /><br />
            <p>公司地址：<strong>湖南省 石峰区 智慧路 学林街道</strong></p>
            <p>公司电话：<strong>0808-12345678</strong></p>
            <p>公司官网：<strong>www.baidu.com</strong></p>
            <p>E-mail：<strong>YPKPW123@163.com</strong></p>
        </div>
        <div class="col-md-5">
            <br />
            <img src="~/img/address.jpg" class="img-rounded" width="400" height="450" />
        </div>
        <div class="col-md-3 text-center">
            <br />
            <img src="~/img/qq.jpg" class="img-rounded img-responsive" width="200" height="200" />
            <p>QQ：123456789</p>
            <img src="~/img/vx.jpg" class="img-rounded img-responsive" s width="200" height="200" />
            <p>VX：YPKPW123</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding:0;">
            <div class="panel panel-primary" style="border:none;margin-top:50px;">
                <div class="panel-heading text-center">
                    <h4>您的饮品健康由我们保障</h4>
                    <p>欢迎入驻我们！！！</p>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />
</div>

