
@{
    ViewBag.Title = "xinwen3";
    Layout = "~/Views/Shared/_main.cshtml";
}

<style>
    main {
        width: 1050px;
    }

    h1 {
        text-align: center;
    }

    h4 {
        margin-top: 5px;
        font-weight: bold;
    }

    #left {
        width: 13%;
        float: left;
    }

    #left1 {
        text-align: center;
    }

    .p1 {
        margin-top: 10px;
        font-size: 20px;
        color: blue;
    }

    .p2 {
        margin: 0 auto;
    }

    #right {
        width: 78%;
        float: right;
    }

    #left ul {
        margin-left: 25px;
    }

        #left ul li a {
            color: black;
            text-decoration: none;
        }

    #left a:hover {
        color: greenyellow;
    }
</style>

<div id="main">
    <div id="left" style="position: fixed;margin-top:10px;">
        <div id="left1">
            <p><span class="p1"><strong>饮料</strong></span></p>
            <p>
                <a href="News" style="width:150px;" class="p2 btn btn-info btn-primary btn-lg btn-block">更多饮品消息></a>
            </p>
            <p><span class="p1"><strong>最新新闻</strong></span></p>
            <ul>
                <li><a href="#">“国潮风”当仁不让：被两乐压制20多年，国货汽水的“大”反攻开始了!</a></li>
                <li><a href="#">Manner Coffee开店200家，中国邮政卖咖啡，2022年将成为中国咖啡的爆发之年？</a></li>
            </ul>
        </div>
    </div>
    <div id="right">
        <h1>华彬红牛被判罚1亿！“内忧外患”之下，未来应该如何走下去？</h1>
        <br />
        <hr />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            红牛借助营销顺利打开了中国市场并奠定了功能饮料领导地位，不过在成功引入中国之后，却在后来的发展中面临诸多波折。比如与泰国天丝漫长的商标权纠纷，在“内耗”中不仅对红牛的优势地位造成影响，而且也让很多同类品牌从中突围出来。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            就目前而言，功能饮料依旧是一个热门市场，还在吸引越来越多的品牌进入。然而红牛的市场份额已经有所下降，逐渐被其他品牌所蚕食，未来发展充满着不确定。而红牛若要继续在功能饮料市场中保持优势地位，可能还需要做出一些改变。
        </p>
        <br />
        <h4>
            华彬红牛又出事了！
        </h4>
        <br />
        <h4>01</h4>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;判罚1亿，立即停止!</h4>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            近日，一则浙江省高级法院（以下简称浙江高院）的判决书让华彬红牛再生事端。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            判决书显示，2021年12月31日，浙江省高级人民法院（以下简称浙江高院）就天丝医药保健有限公司（以下简称天丝公司）针对红牛维他命饮料（江苏）有限公司、北京红牛饮料有限公司、杭州红牛饮料有限公司（以下简称华彬三被告）、杭州联华华商集团有限公司（以下简称杭州联华）侵害红牛商标专用权及不正当竞争纠纷一案，做出一审判决（【2020】浙民初42号）：华彬三被告和杭州联华华商集团有限公司立即停止生产、销售“红牛维生素功能饮料”；并判决华彬三被告立即停止使用含有“红牛”字样的企业名称，同时判决华彬三被告连带赔偿原告天丝集团经济损失1亿元人民币。
        </p>
        <img src="~/img/XinWen/新闻3-2.jpg" width="815" height="450" />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            据了解，浙江高院经审查，查明最高院于2020年12月21日做出终审判决，明确了天丝公司对红牛系列商标享有注册商标专用权。经过商标局备案的两份《商标许可合同》表明天丝公司对合资公司的商标许可期限至2016年10月6日止。在商标许可使用期限内，合资公司作为被许可人有权使用涉案红牛系列商标；期限届满后，未经商标授权人天丝公司的许可，合资公司无权继续使用涉案红牛系列商标。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            法院认定，合资公司商标许可使用期限届满之后，华彬江苏红牛工厂在生产的红牛饮料外包装上依然使用红牛商标标识，华彬三被告销售上述红牛饮料及江苏工厂在生产厂区显著位置使用红牛商标图形的行为，均构成对天丝公司红牛注册商标专用权的侵害。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            华彬三被告在商标许可使用期限届满后仍然延续使用“红牛”字号，客观上势必会导致相关公众混淆或误认。为遵循诚实信用原则，维护公平的市场竞争秩序，避免涉案商标于企业字号在经营活动中产生冲突，浙江高院认定华彬三被告在商标许可使用期限届满后的持续使用现有字号的行为已构成不正当竞争，应立即停止。
        </p>
        <img src="~/img/XinWen/新闻3-3.jpg" width="815" height="450" />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            从 2021 年年初开始，主流电商平台、连锁便利店以及超市等渠道均开始下架并停止销售“红牛维生素功能饮料”，以规避商标侵权的法律风险。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            2021年，天丝公司对“北京华联超市”、红牛公司经销商发起的诉讼也陆续成功，包括“北京华联超市”、长沙市华厦糖酒有限公司等在内的多家超市、经销商均被勒令停止销售红牛公司出品的“红牛维生素功能饮料”。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            有红牛经销商透露，2021年不少重要的大卖场和便利店，已经把中国红牛的产品下架了。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            目前，无论是京东还是天猫等主流电商平台已经搜索不到”红牛维生素功能饮料“；不仅如此，中石油旗下的昆仑好客自2021年 1 月就曾下发了关于停止与华彬红牛合作的通知，为进一步规避法律风险，后又再次发函针对华彬红牛侵权产品强调“严禁采购，库存退货”等措施。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            据了解，京东、中石油、中石化等主流线上线下渠道已经全面下架华彬集团生产的侵权产品“红牛维生素功能饮料”。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            严彬或许也意识到了形势的危急，2017年，华彬集团又推出了自研能量饮料战马，但在红牛内斗期间，娃哈哈的启力、达利集团的乐虎、以及东鹏特饮等一众国产品牌已经趁机崛起。特别是东鹏特饮，2021年年销售额将近70亿，是饮料前20厂商中增速最快的。群狼环伺下，战马的前景难言乐观。
        </p>
        <br />
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;小结
        </h4>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            红牛最开始进入中国时，通过重磅营销逐渐确立了国内功能饮料的优势地位。不过在国内发展的这许多年，“内忧外患”却也有不少，比较明显的就是与泰国天丝的商标争夺以及越来越多的同类竞争者。而在与泰国天丝的漫长纠纷中，逐渐消耗了红牛的优势，使得其他品牌突出重围，如今红牛所要面临的市场竞争十分激烈。华彬红牛还能继续“红”下去吗，未来会寻找怎样的出路？
        </p>
        <br /><br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本文来源：闲集网，食安时代，正商参阅，手机和讯网</p>
    </div>
</div>
