
@{
    ViewBag.Title = "xinwen1";
    Layout = "~/Views/Shared/_main.cshtml";
}

<style>
    main {
        width: 1050px;
    }

    h4 {
        margin-top: 5px;
        font-weight: bold;
    }

    #left {
        width: 13%;
        float: left;
    }

    #left1 {
        text-align: center;
    }

    .p1 {
        margin-top: 10px;
        font-size: 20px;
        color: blue;
    }

    .p2 {
        margin: 0 auto;
    }

    #right {
        width: 78%;
        float: right;
    }

    #left ul {
        margin-left: 25px;
    }

        #left ul li a {
            color: black;
            text-decoration: none;
        }

    #left a:hover {
        color: greenyellow;
    }

    #txt1 {
        text-align: center;
    }
</style>
<div id="main">
    <div id="left" style="position: fixed;margin-top:10px;">
        <div id="left1">
            <p><span class="p1"><strong>饮料</strong></span></p>
            <p><a href="News" style="width:150px;" class="p2 btn btn-info btn-primary btn-lg btn-block">更多饮品消息></a></p>
            <p><span class="p1"><strong>最新新闻</strong></span></p>
            <ul>
                <li><a href="#">“国潮风”当仁不让：被两乐压制20多年，国货汽水的“大”反攻开始了!</a></li>
                <li><a href="#">Manner Coffee开店200家，中国邮政卖咖啡，2022年将成为中国咖啡的爆发之年？</a></li>
            </ul>
        </div>
    </div>
    <div id="right">
        <h1>有史以来第一款注入氮气的可乐出现了！“氮气+饮料”会成为未来的趋势吗？</h1>
        <br />
        <hr />
        <h4>
            打开一罐冰可乐，喝下一口，二氧化碳形成的气泡冲击着口腔，轻微的刺痛感和酸味产生的信号传递到大脑，刺激大脑产生内啡肽，「快乐水」就是这样让我们感受到喝碳酸饮料的「爽」。
        </h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;许多人喜欢喝可乐，就是为了体验二氧化碳带来的这种「爽」，但溶于水形成的碳酸又会对我们的牙齿和肠胃有影响。如果可乐里注入的不是二氧化碳，会变成怎样？</p>

        <h4>01</h4>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;“有史以来第一款注入氮气的可乐”</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;官方宣传视频中，百事将这款氮气可乐描述为“smooth, creamy, delicious”（顺滑、奶油感、美味），最大特点是比传统可乐和苏打水的气泡更小，口感更顺滑。</p>
        <img src="~/img/XinWen/新闻1.jpg" width="815" height="450" />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这些特点来自氮气可乐使用的硝基技术，百事宣称，Nitro Pepsi注入了氮气，通过放置在每罐底部的“独特小部件”，制造出了大量小气泡和液体表面浓密的泡沫。以往，这种罐装氮气技术常见于啤酒和咖啡产品中，此次是首次应用于可乐品类。</p>
        <img src="~/img/XinWen/新闻1-2.jpg" width="815" height="450" />
        <p id="txt1">百事氮气可乐配料表</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;也因此，这款可乐特意在说明中写到，“建议用不同的方式喝”——最好冷藏后饮用，但不要加冰；最好是像喝啤酒一样，迅速地倒进高玻璃杯，再直接对着杯子喝，体验可乐丰富的泡沫。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此前，国外媒体Food & Wine对这款可乐进行了味觉测试，“尝起来像冰淇淋漂浮物"，“与传统碳酸可乐相似，同时口感更丰富、更饱满”。</p>

        <h4>02</h4>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;百事要“重新定义可乐”？</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;事实上，百事公司对这款氮气可乐筹备已久。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019年美国超级碗（Super Bowl）赛事期间，百事曾将Nitro Pepsi作为限定产品推出，但未进行广泛宣传，并只在有限的餐饮店和零售店销售。事后，百事对外也没有公布产品推出的具体细节和预计日期。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据国外媒体FoodNavigator的一则报道显示，去年7月，百事曾表示在“继续改进 Nitro Pepsi，并对推出计划进行最后的润色。”</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时隔2年后，这款氮气可乐终于以正式产品的身份，全面铺向美国市场。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而上周五，可口可乐刚发布了首款限定产品——“太空味”（space flavored）的可口可乐，并命名为「可口可乐“星河漫步”」（Coca-Cola Starlight），在北美、中国等多地区限定发售，品牌称，意在通过数字营销策略连接年轻一代消费者。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;两大巨头一前一后推出可乐新品，也有了点暗中较劲的意味。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以往，可乐品类的创新集中在风味、包装等方面，“注入二氧化碳”的碳酸饮料属性却从未改变。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百事氮气可乐的面世，或许将改写“可乐=碳酸饮料”的定义。如果想试试这款与众不同的氮气可乐，记得看看百事给出的最佳饮用方法：最好冷藏并且不加冰；最好迅速或完全倒进高脚玻璃杯里；最好直接从玻璃杯中啜饮（而不是通过吸管），感受独特的泡沫留下的小胡子。</p>

        <h4>03</h4>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;“氮气+饮料”正在成为成新宠？？</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除了我们呼吸的空气，氮气最常见的地方，大概就是膨化食品的包装袋里，但其实这种无毒无味的惰性气体，也不是第一次被注入饮料里。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;氮气的化学性质比较稳定， 因此能更好地保质，并且极低的溶解度能更好地形成细小的泡沫，饮用时的口感顺滑绵密，加上不会像二氧化碳一样形成碳酸，从而影响饮品的风味。</p>
        <br />
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;氮气啤酒</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;氮气与饮品相结合的历史，可追溯到1950年代。1959年，啤酒品牌健力士率先使用不溶于水的氮气代替二氧化碳，推出了世界上第一款充氮啤酒。2020年，百威英博在美国推出了首款氮气啤酒“Budweiser Nitro Reserve Gold”，采用一种独特的三步倒酒法：在开罐前将罐子倒转三次，然后垂直倒入玻璃杯，等待罐子里的氮气充分融入啤酒后饮用。酿酒狗也曾推出一款充氮啤酒——Jet Black Heart Nitro Beer。</p>
        <img src="~/img/XinWen/新闻1-3.jpg" width="815" height="450" />
        <br />
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;氮气咖啡</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019年12月，全家便利店旗下咖啡品牌湃客推出了现制充氮咖啡。其实早在2016年，星巴克就推出过氮气冷萃咖啡，推动美国咖啡市场掀起“无氮不欢”的热潮。如今，充氮咖啡已经成为各大咖啡店招揽顾客的重要手段。根据grandviewresearch的预测数据，到 2025 年，全球充氮咖啡市场规模将达到 5110 万美元，未来5年将保持 26.6% 的复合年增长率。</p>
        <br />
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;氮气茶饮</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充氮潮流在向茶饮持续蔓延，喜茶在2019年1月推出了氮气茶饮——氮气金玉、芝士氮气金玉两款新品，在北京、上海、广州、深圳的4家门店率先上市试水。在茶饮中融入氮气后，不仅茶涩味会大大降低，表面还会多一层绵柔丝滑的泡沫。</p>
        <img src="~/img/XinWen/新闻1-4.jpg" width="815" height="450" />
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;氮气酸奶</h4>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019年，卫岗乳业推出了一款“不可思议的空气感酸奶”。生产过程中向发酵乳加入氮气并高速搅打，使得酸奶获得如慕斯一般蓬松细腻的口感。与普通酸奶相比，充气酸奶细腻，入口即化。但由于加入了气体，稳定性较低，需要全程低温运输，并小心搬运。饮料中加入气泡元素能让其口感更爽脆，升腾的气泡也赋予了饮品轻盈的动感。</p>
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现在的年轻人消费饮料，不光注重口味，还越来越注重富有层次的口感和新鲜的视觉冲击。充氮饮料在视觉上也非常出色，饮料中浮起的泡沫如瀑布般沉降，这在视觉上戏剧化了起泡的体验。而相比一般气泡饮品偏刺激的口感，氮气产生的泡沫柔和绵密，更接近奶泡的质地，不一样的入口体验，正好符合年轻人消费酒水饮料对口感层次的追求。</p>
        <br />
        <h4>目前，氮气的应用已经从咖啡、啤酒领域逐步扩展至现制饮品圈，成为品牌气泡饮品创新升级的出品方式，氮气饮品正成为吸引年轻人的一种创新气泡饮品。</h4>
        <br /><br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本文来源：闲集网，爱范儿，饮料行业网，FBIF食品饮料创新</p>
    </div>
</div>


