
@{
    ViewBag.Title = "xinwen2";
    Layout = "~/Views/Shared/_main.cshtml";
}

<style>
    main {
        width: 1050px;
    }

    h4 {
        margin-top: 5px;
        font-weight: bold;
    }

    #left {
        width: 13%;
        float: left;
    }

    #left1 {
        text-align: center;
    }

    .p1 {
        margin-top: 10px;
        font-size: 20px;
        color: blue;
    }

    .p2 {
        margin: 0 auto;
    }

    #right {
        width: 78%;
        float: right;
    }

    #left ul {
        margin-left: 25px;
    }

        #left ul li a {
            color: black;
            text-decoration: none;
        }

    #left a:hover {
        color: greenyellow;
    }
</style>

<div id="main">
    <div id="left" style="position: fixed;margin-top:10px;">
        <div id="left1">
            <p><span class="p1"><strong>饮料</strong></span></p>
            <p>
                <a href="News" style="width:150px;" class="p2 btn btn-info btn-primary btn-lg btn-block">更多饮品消息></a>
            </p>
            <p><span class="p1"><strong>最新新闻</strong></span></p>
            <ul>
                <li><a href="#">“国潮风”当仁不让：被两乐压制20多年，国货汽水的“大”反攻开始了!</a></li>
                <li><a href="#">Manner Coffee开店200家，中国邮政卖咖啡，2022年将成为中国咖啡的爆发之年？</a></li>
            </ul>
        </div>
    </div>
    <div id="right">
        <h1>娃哈哈为何10年营收无增长？一文详述【娃哈哈的困境，宗庆后的难题】</h1>
        <br />
        <hr />
        <h4>
            数据显示，2020年娃哈哈的营收439.8亿元，已经回落到了2009年的水平。
        </h4>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            对于娃哈哈上次出圈，很多网友的记忆应该是停留在其换代言人，把合作多年的王力宏换成了新生代小生，因为娃哈哈认为，44岁的王力宏老了。更多普通人，则可能还是停留在AD钙奶、营养快线的回忆里。然而，这种童年做梦都想喝的饮料，已经从超市货架的C位，挪到了最边上。娃哈哈已经渐渐被年轻人遗忘。为此，曾经公开表示“不搞电商”的宗庆后，去年高调宣布娃哈哈要进军电商，并打造4个电商平台。在75岁这年，宗庆后甚至进行了人生中第一场直播。遗憾的是，这么拼的宗庆后，还是很难扭转“老去”的残酷现实。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            近期，一些实业大佬把目光都集体聚集到金融市场，最为引人注目是 76 岁宗庆后去考了基金从业资格，难道又 " 嗅到了什么不一样机会 "?曾经红的一塌糊涂的娃哈哈在这几年一直是个淡淡的存在，一直低调的躺在货架上，在琳琅的商品中，再也没激起水花。这几年娃哈哈的营收表现同样 " 低调 "。9 月底，据中国工商联发布的 "2021 中国民营企业 500 强榜单 " 显示，娃哈哈 2020 年营收为 439.8 亿元。虽然营收数额和前一年没差多少，但实际上已经走至公司最低。
        </p>
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;
            娃哈哈的辉煌岁月
        </h4>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            和许多企业家一样，宗庆后的发现史并不是顺风顺水，在娃哈哈诞生的十年前，他还在杭州街头拉着 " 黄鱼车 " 卖冰棍。在给学校孩子们卖冰棍送货的途中，宗庆后发现，很多孩子食欲不振、营养不良是最让家长头疼的问题。得知这一切的宗庆后，用他自己的话来说 " 自己的直觉告诉自己，创业的机会来了。" 虽然彼时的他已经 47 岁，但他仍然坚定的要抓牢这最后一次创业机会。1988 年，宗庆后率领他做校工的校办企业借款 14 万元，组织专家和科研人员，开发出了第一个儿童饮用的营养品——娃哈哈营养液。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            随着 " 喝了娃哈哈，吃饭就是香 " 这句广告语的广为流传，娃哈哈营养液也迅速走红。到了第四年，娃哈哈已经有了 4 亿元的营销收入和 7000 多万的净利润作为原始积累。1991 年，娃哈哈营养液的销量仍在飞速增长，并且供不应求。但宗庆后却认为这还不够，要想让娃哈哈稳住现在的地位，只有将公司不断扩大。虽然扩大公司版图的方法有很多，但是宗庆后却选择了最冒险的一种——有偿兼并。1991 年，宗庆后以 8000 万元巨款兼并并盘活了摇摇欲坠的杭州罐头厂，并仅用 3 个月的时间就将其扭亏为盈。在这次兼并尝到甜头之后，娃哈哈开始以兼并的手段迅速扩张版图，不断做大。1996 年与达能集团进行的策略性合作，又让娃哈哈变得更强。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            值得一提的是，娃哈哈之所以在早期能发展的顺风顺水，不断做大做强，离不开宗庆后为娃哈哈创立的 " 联销体 "。传统食品饮料的渠道模式以精细化、辐射范围广作为优势。娃哈哈便在在此基础上建立起了庞大高效的 " 联销体 " 的经销体系——总部—各省区分公司—特约一级批发商—特约二级批发商—二级批发商—三级批发商—零售终端。在联销体制度下，一级经销商每年年底必须将当年销售额的 10% 作为保证金一次性打入娃哈哈账户，娃哈哈为此支付高额银行利率的利息。此后，每个月进货之前，经销商必须结清货款，娃哈哈才发货。如此森严的经商体系，这也正是娃哈哈当年能实现 " 一直被模仿，从未被超越 " 的主要原因。
        </p>
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;越来越“拼”的宗庆后，1年少赚343亿
        </h4>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            76岁的宗庆后，别人跳广场舞都嫌累，他却比年轻人还拼。两个月前，宗庆后拿下了“基金从业资格证”，有人说，娃哈哈要进军私募。就在几年前，宗庆后还被人抓拍到，独自一人坐飞机去全国跑市场。但宗庆后的“拼”，近几年却收效甚微。
        </p>
        <img src="~/img/XinWen/新闻2-2.jpg" width="815" height="450" />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            近期，娃哈哈2020年的营收结果公布，439.8亿元。娃哈哈业绩退到了10年前的水平，距离巅峰时期，跌了整整343亿。娃哈哈的这 10 年，是营收额起起伏伏伏伏伏的 10 年。在 2013 年营收达到 782 亿元的顶峰之后，就一直在走下坡路。2014 年营收 720 亿，2015 年营收骤降到了 494 亿，此后几年的营收一直维持在 500 亿上下。而到了 2020 年，娃哈哈营收为 439.8 亿元，一下子跌回 2009 年的营收水平。
        </p>
        <br />
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;
            娃哈哈的困境
        </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            那么问题来了，在初创阶段神速发展，一度成为业内神话的娃哈哈，为什么会在最近 10 年营收一直没有增长？
        </p>
        <br />
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            第一、营销渠道出现问题
        </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            快消品牌如何赚钱？曾有专家说，对于快消品牌来说，渠道是才最重要的一个环节。快消产品的渠道链也正是它的利益链。虽然娃哈哈的 " 联销体 " 曾是它在行业内能站稳脚跟的 " 秘密武器 " 之一，但是在如今电商当家作主的时代，这种优势也正在成为劣势。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            互联网时代电商的渠道很简单，几乎只有一两个环节，有时能甚至能从制造商那端直接送到消费者手中。这样的销售方式不但保证了销售效率，最重要的方便了消费者购买。只需要花点时间上网，想要的东西几乎都能买到，这让越来越多的消费者开始选择网上购物。相比之下，传统渠道的优势也越来越难以显现。当前的情况已经很明了了，现在是电商的时代，老玩家想要继续以往的辉煌，只能摒弃传统的渠道模式，加入电商的游戏玩法。但是等宗庆后意识到这一点，想要屈尊加入电商做出转型尝试时，这条路对娃哈哈来说已经变得异常崎岖了。
        </p>

        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            第二、未能打开 SKU 品牌库
        </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            有人说，缺失品牌意识是国产老字号的通病，娃哈哈就是很好的例子。传统品牌想要在这个快节奏的时代抓住年轻人的眼球，塑造品牌的良好形象无疑是通往成功的最快的路。要么卖老品牌的情怀，要么用质量说话，要么以新鲜潮流的形象吸引年轻人。总之，树立出一个让大家能记住的品牌形象就是成功的第一步。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            娃哈哈一开始选择的是第三条路，想以大胆又新奇的形象获得消费者的关注。于是，在 2019 年宗馥莉大胆的将娃哈哈 AD 钙奶的瓶身上印上 " 高中的时候 , 班里不知道是谁说喝 AD 钙奶可以从 A 变到 D, 然后就掀起了一阵风 , 班里女生都开始喝 AD 钙奶。" 这样的广告语，企图和年轻人产生共鸣，宣传自己年轻的一面。但不曾想，这样的标语却被大家公认 " 低俗 "，不但没有树立出良好的形象，还自己砸了自己的招牌。今年 6 月儿童节，娃哈哈又铺天盖地的打出 " 怀旧 " 的广告，企图以童年的情怀打动消费者。但是，娃哈哈的风头也仅仅维持在儿童节前后，儿童节一过，娃哈哈又归于平淡。到现在，作为老牌饮料的娃哈哈也没成为一个时代的经典，反而被年轻人冠上 " 落伍 " 的标签。但是，同样 " 年老 " 的农夫山泉，却因为一句成功的广告语 " 我们不生产水，我们只是大自然的搬运工 " 而奠定了它在矿泉水界不可撼动的地位。它对自然的尊重和谦卑，赢得了消费者的尊重和信任，多年来一直未变。
        </p>

        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            第三、多元化转型的失败
        </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            曾经的娃哈哈，只有娃哈哈矿泉水和 AD 钙奶让消费者印象深刻。随着时代的发展，新鲜事物越来越多，年轻人也更追求新鲜感。宗庆后意识到，在这个变化无穷的时代，一个品牌想要被年轻人记住，只能不断创新出新产品。
        </p>
        <img src="~/img/XinWen/新闻2-1.jpg" width="815" height="450" />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            在意识到这点时候，娃哈哈也开始走上了创新之路。这两年，娃哈哈的变革动作频频，什么能火就产什么。比如，脉动这类的功能饮料曾有一段时间备受市场青睐，于是娃哈哈也推出了类似的功能饮料——启力；啤酒类饮料大卖的时候，娃哈哈也相续推出啤儿茶爽和格瓦斯，甚至娃哈哈还创立了自己的商场 ……但是，无论娃哈哈怎么拓展业务转型，都没溅起多大水花。毕竟术业有专攻，娃哈哈的主业是做营养液和矿泉水，大家对娃哈哈能信任的方面只在于它的矿泉水和营养液。而娃哈哈试图拓展的功能饮料、奶粉等产品，在这些领域内有更好的品牌选择。消费者对一个商品是否会产生购买欲，不但要看产品质量，他们同样在意品牌。虽然企业进行品牌创新、多元化发展是自救的好办法，但是，这并不代表会有同样的用户信任。比如曾经当年的巨人集团涉足多个行业，又是保健品又是房地产，进入的诸多领域并非其优势所在，却急于铺摊子，最终导致财务危机。而娃哈哈现在的情况与当年的巨人集团很像，又进军保健品业务，又建立商场，业务种类太多反而不易发展。娃哈哈即便要发展多元化，也应该在自己擅长的饮用水和营养液领域中做文章。
        </p>
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            第四、宗庆后丢失的不是拼劲，而是他曾经的眼光
        </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            娃哈哈之所以崛起，靠的是宗庆后对年轻人的洞察。1987年，42岁的宗庆后，骑着三轮车在小学门口卖冰棍，时间一长，他发现很多孩子偏食、营养不良。他灵光一闪，找到营养学教授，定了一个包含桂圆、红枣、山楂、莲子的配方，再将方子变成产品。娃哈哈营养液就此诞生，这也是中国第一款儿童营养液。儿童营养液一问世，立即火遍全国。20个工人两班倒，对着4个翻斗锅，每天生产5000盒，完全供不应求。宗庆后的这种洞察力，也用到了娃哈哈的其他爆品上。营养液成功后，宗庆后顺势推出了同类饮料：AD钙奶。还打出了“酸酸的甜甜的，有营养味道好”的洗脑广告歌。仅用一年时间，娃哈哈AD钙奶就生产了10.7亿瓶。同期，宗庆后还顶着公司反对上市了非常可乐，靠打“民族牌”，与可口可乐和百事正面对决。凭借“中国人自己的可乐”，非常可乐一度拿下了16%的市占率，二三线城市甚至达到了30%，稳居第三。但让娃哈哈走向巅峰的，还是营养快线。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            AD钙奶推出后，宗庆后曾看到一位上班族在赶路时，一边偷偷喝AD钙奶，他注意到，虽然AD钙奶可以替代早餐，但儿童款包装却让成年人拿不出手。面向上班族的营养快线应运而生，“早上喝一瓶，精神一上午”。很快，营养快线销售额超过200亿，达到娃哈哈的三分之一，用他女儿宗馥莉的话说，“（爸爸的）市场嗅觉挺好。”但营养快线，却是宗庆后最后的灵光一现。之后的娃哈哈，仿佛和失了魂一样，新品繁多，但再也没出现第二个营养快线。娃哈哈也频繁跨界，做白酒、做童装、做奶粉，但也以失败告终。2016年之后，没有爆款的娃哈哈业绩逐年下滑。营养快线，也从200亿的销售额，四年暴跌到80亿。曾风靡一时的AD钙奶、营养快线，如今连农村小孩都觉得“太土了”。70岁的宗庆后，开始跟不上年轻人的口味变化。他曾反思说：“对人来讲，三十而立正年轻。对企业来讲，三十年已经老了，大企业病也出来了，过去我管得的确太细，造成员工对我的依赖。”为了解决娃哈哈的“中年危机”，宗庆后的女儿宗馥莉，开始活跃台前。
        </p>
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;是神话也是诅咒
        </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            虽然上述问题都是娃哈哈必须解决的严峻的问题，但是二代接班人的问题也一样需要被重视。娃哈哈的二代接班人一直被外界关注，毕竟宗庆后老先生都已经快 80 了，还像以前一样满世界谈业务也不是办法，娃哈哈对二代接班人的需要，迫在眉睫。2018 年，宗馥莉正式进入了娃哈哈集团。在她进入娃哈哈以后，她发现，娃哈哈想要再创辉煌，必须迎合年轻人的口味，不断创新。于是，宗馥莉开始积极拓宽产品种类，先是在中秋节推出了 "AD 钙奶心月饼 "，然后紧接着又换了十年没变的营养快线的包装，同时推出了相应的彩妆盘，在杭州还开了线下快闪化妆间。除此之外，她甚至还尝试过童装和白酒等业务。但无一不是以失败告终。为了让品牌年轻化，宗馥莉还将娃哈哈 20 多年的代言人王力宏撤了下来，这举动不但没达到她预期的效果，反而为娃哈哈引来骂声一片。
        </p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            娃哈哈会陷入二代接班人的困境，一些 " 吃瓜群众 " 不得不把一部分原因归咎到宗庆后强势的性格上。多年来，娃哈哈内部一直施行的是以宗庆后为中心的高度集权式管理，董事长、总经理这样的职位都是宗庆后一人担任，没有副职。虽然有不少人质疑宗庆后这样的管理方式是否太过强势，但宗庆后却不以为然，他多次公开表明：" 我认为必须有一个强势的领导人来领导，才会把事情做好。如果不强势，不受大家尊重的话，是管不好这个企业的。"在一次采访中，还有娃哈哈员工在对宗庆后 " 深情告白 "，表示宗庆后总能为公司做出正确的决策，娃哈哈能有现在的辉煌，全要靠他。宗庆后带领下的娃哈哈取得的辉煌是无需质疑的，然而这一切像是个神话，也如同一个诅咒。就如昔日的日化龙头企业上海家化一样，在葛文耀离开后，几经易帅后上海家化都没有再度取得过去的辉煌，对于企业而言个人的魅力越大，这个 " 诅咒 " 越大！2019 年，在《至少一小时》节目中，当被问到 " 宗庆后在娃哈哈是个什么样的存在 " 时，宗馥莉回答：" 神一样的存在。"由此可见，宗庆后的强势确实保证了他在娃哈哈至高无上的同时地位，但也让他无法从公司 " 脱身 "。
        </p>
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;结语
        </h4>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            2018年宗馥莉主动请缨，出任娃哈哈集团的公关部部长，当时她说：“我希望我出去的时候，可以听到人家说‘你们的品牌变年轻了’。”知天命创业，耄耋之年再考资格证，宗庆后的后半辈子为自己的事业操碎了心。他一手打造了娃哈哈的神话，却也造成了娃哈哈二代接班人的困境。在日后，这个困境能否被打破，二代接班人能否成功接过宗庆后的大旗，娃哈哈又能否重回辉煌年代？让我们拭目以待。
        </p>
        <br /><br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本文来源：闲集网，金错刀，钛媒体</p>
    </div>
</div>